<style>
    div[data-type=graph] {
        max-width: 400px;
        min-height: 200px;
        display: inline-block;
        background-color: #cdcdcd;
    }
    div[data-type=graph] div.buttons-container {
        text-align: center;
    }

</style>


<div data-type="graph" data-id="g76"></div>



{% javascripts '@DBStatisticBundle/Resources/public/js/jquery.min.js'
'@DBStatisticBundle/Resources/public/js/statcore.js'
'@DBStatisticBundle/Resources/public/js/Chart.min.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}